@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-spark {
  background-image: url('/spark.svg');
  background-repeat: no-repeat;
  background-position: right -2rem bottom -2rem;
  background-size: contain;
}